<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand active" href="/products">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <p>Sort by:</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products?sort=price">Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products?sort=price-desc">Price Desc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products?show=discounted">Discounted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products?show=random">Random</a>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <p>Hey, <%= current_user.name %></p>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/Signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        Categories
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Category.all.each do |category| %>
            <li><a href="/products?category=<%= category.title %>"><%= category.title %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search">
      <a href="products/search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</a>
    </form> 
     -->
     <%= form_tag "/search", method: :post do %>
        <%= text_field_tag :search %>
        <%= submit_tag "Search" %>
      <% end %>
      <a href="/cart"><img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/shopping_cart.png" width=30px height=30px></a>
  </div>
</nav>

    
      <% flash.each do |name, message| %>
         <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
          </div>
      <% end %>
     
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
